.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004D;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal-content {
  width: 320px;
  height: 110px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  color: #14171A;
  padding: 20px 20px 70px;
}
.modal-content p{
  font-size: 15px;
}

.button-container {
  display: flex;
  gap: 10px;
  color: white;
}
.confirm-btn{
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.checked{
  background-color: #1A8CFF;
}