/* App.css */
#layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-style: Pretendard;
  color: #5A6066;
  font-size: 14px;
}

h3{
  color: #14171A;
  font-size: 20px;
  font-weight: 700;
}

.table {
  width: 100%;
  max-width: 1080px;
  margin-top: 20px;
}

.table-header {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #DFE5EB;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 6px;
  min-width: 60px
}

thead tr {
  border-radius: 20px;
  background-color: #F5F8FA;
}

.btn-container {
  position: relative;
  height: 50px;
  font-size: bold;
}

.date-btn {
  position: absolute;
  top: 8px;
  right: 0;
  background: none;
  color: #5A6066;
  border: none;
  cursor: pointer;
}

.border-btn {
  width: 102px;
  height: 40px;
  padding: 8px 26px 8px 14px;
  border-radius: 32px;
  border: 1px solid #ddd;
  color: #5A6066;
  background: none;
  cursor: pointer;
}
.arrow {
  width: 15px;
  position: absolute;
  top: 30%;
  padding-left: 10px;
}